## Analyzing CIA Factbook Data Using SQL
In this project, I'll use SQL to explore and analyze data from the CIA World Factbook, a compendium of statistics about all of the countries on Earth. The Factbook contains demographic information like:
- population - The population as of 2015.
- population_growth - The annual population growth rate, as a percentage.
- area - The total land and water area.

In [1]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

In [3]:
%%sql
-- Get all tables in the database
SELECT * 
FROM sqlite_master
WHERE type='table';

 * sqlite:///factbook.db
Done.

[('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'facts', 'facts', 47, 'CREATE TABLE "facts" ("id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "code" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "area" integer, "a ... (4 characters truncated) ... land" integer, "area_water" integer, "population" integer, "population_growth" float, "birth_rate" float, "death_rate" float, "migration_rate" float)')]

We observe there are two tables in the factbook database, namely ```sqlite_sequence```, ```facts```

Next we write a query to return first 5 rows of the facts table

In [4]:
%%sql
SELECT * 
FROM facts
LIMIT 5;

Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]

Here are the descriptions for some of the columns:
- name - The name of the country.
- area- The country's total area (both land and water).
- area_land - The country's land area in square kilometers.
- area_water - The country's waterarea in square kilometers.
- population - The country's population.
- population_growth- The country's population growth as a percentage.
- birth_rate - The country's birth rate, or the number of births a year per 1,000 people.
- death_rate - The country's death rate, or the number of death a year per 1,000 people.

Let's start by calculating some summary statistics and look for any outlier countries.

In [5]:
%%sql
--Minimum/Maximum Population and Population_growth

SELECT  MIN(population) as min_population,
        MAX(population) as max_population,
        MIN(population_growth) as min_population_growth, 
        MAX(population_growth) as max_population_growth
FROM facts;

Done.

[(0, 7256490011, 0.0, 4.02)]

A few things stick out from the summary statistics in the last screen:

- There's a country with a population of 0
- There's a country with a population of 7256490011 (or more than 7.2 billion people)

Let's use subqueries to zoom in on just these countries without using the specific values.

In [6]:
%%sql
--Least Populated Country

SELECT *
FROM facts
WHERE population = (SELECT MIN(population) 
                    FROM facts);

Done.

[(250, 'ay', 'Antarctica', None, 280000, None, 0, None, None, None, None)]

In [7]:
%%sql
--Most Populated Country

SELECT *
FROM facts
WHERE population == (SELECT MAX(population) 
                    FROM facts);

Done.

[(261, 'xx', 'World', None, None, None, 7256490011, 1.08, 18.6, 7.8, None)]

It seems like the table contains a row for the whole world, which explains the population of over 7.2 billion. It also seems like the table contains a row for Antarctica, which explains the population of 0. This seems to match the CIA Factbook [page for Antarctica:](https://www.cia.gov/library/publications/the-world-factbook/geos/ay.html)

Now that we know this, we should recalculate the summary statistics we calculated earlier, while excluding the row for the whole world.

In [8]:
%%sql
--Minimum/Maximum Population and Population_growth

SELECT  MIN(population) as min_population,
        MAX(population) as max_population,
        MIN(population_growth) as min_population_growth, 
        MAX(population_growth) as max_population_growth
FROM facts
WHERE name != 'World';

Done.

[(0, 1367485388, 0.0, 4.02)]

In [9]:
%%sql
--Average Population and Area

SELECT  AVG(population) as avg_population,
        AVG(area) as avg_area
FROM facts;

Done.

[(62094928.32231405, 555093.546184739)]

Now, we find countries that are densely populated. To do this, we'll identify countries that have:
- Above average values for population.
- Below average values for area.

In [10]:
%%sql
SELECT * 
FROM facts
WHERE population > (SELECT  AVG(population) as avg_population
                    FROM facts) 
        AND area < (SELECT AVG(area) as avg_area
                                            FROM facts) ;

Done.

[(14, 'bg', 'Bangladesh', 148460, 130170, 18290, 168957745, 1.6, 21.14, 5.61, 0.46),
 (65, 'gm', 'Germany', 357022, 348672, 8350, 80854408, 0.17, 8.47, 11.42, 1.24),
 (85, 'ja', 'Japan', 377915, 364485, 13430, 126919659, 0.16, 7.93, 9.51, 0.0),
 (138, 'rp', 'Philippines', 300000, 298170, 1830, 100998376, 1.61, 24.27, 6.11, 2.09),
 (173, 'th', 'Thailand', 513120, 510890, 2230, 67976405, 0.34, 11.19, 7.8, 0.0),
 (185, 'uk', 'United Kingdom', 243610, 241930, 1680, 64088222, 0.54, 12.17, 9.35, 2.54),
 (192, 'vm', 'Vietnam', 331210, 310070, 21140, 94348835, 0.97, 15.96, 5.93, 0.3)]

In [11]:
%%sql
--Most Populated Country

SELECT *
FROM facts
WHERE population == (SELECT MAX(population) 
                    FROM facts 
                    WHERE name != 'World');

Done.

[(37, 'ch', 'China', 9596960, 9326410, 270550, 1367485388, 0.45, 12.49, 7.53, 0.44)]

In [12]:
%%sql
--Fastest Growing Country

SELECT *
FROM facts
WHERE population_growth == (SELECT MAX(population_growth) 
                    FROM facts 
                    WHERE name != 'World');

Done.

[(162, 'od', 'South Sudan', 644329, None, None, 12042910, 4.02, 36.91, 8.18, 11.47)]

In [13]:
%%sql
--Countries that have more water than land

SELECT name, area, area_land, area_water, 
        CAST(area_water as float)/area *100 as water_land_ratio
FROM facts
ORDER BY water_land_ratio DESC;

Done.

[('British Indian Ocean Territory', 54400, 60, 54340, 99.88970588235294),
 ('Virgin Islands', 1910, 346, 1564, 81.8848167539267),
 ('Puerto Rico', 13791, 8870, 4921, 35.6826916104706),
 ('Bahamas, The', 13880, 10010, 3870, 27.881844380403457),
 ('Guinea-Bissau', 36125, 28120, 8005, 22.15916955017301),
 ('Malawi', 118484, 94080, 24404, 20.596873839505754),
 ('Netherlands', 41543, 33893, 7650, 18.41465469513516),
 ('Uganda', 241038, 197100, 43938, 18.228661040997686),
 ('Eritrea', 117600, 101000, 16600, 14.1156462585034),
 ('Liberia', 111369, 96320, 15049, 13.512736937567905),
 ('Bangladesh', 148460, 130170, 18290, 12.319816785666173),
 ('Gambia, The', 11300, 10120, 1180, 10.442477876106194),
 ('Taiwan', 35980, 32260, 3720, 10.339077265147303),
 ('Finland', 338145, 303815, 34330, 10.152449393011874),
 ('India', 3287263, 2973193, 314070, 9.554148846624075),
 ('Ethiopia', 1104300, None, 104300, 9.444897219958346),
 ('Canada', 9984670, 9093507, 891163, 8.925312504068737),
 ('Sweden', 450295, 410335, 39960, 8.874182480373976),
 ('Colombia', 1138910, 1038700, 100210, 8.798763730233294),
 ('Brunei', 5765, 5265, 500, 8.673026886383347),
 ('Guyana', 214969, 196849, 18120, 8.429122338569748),
 ('French Polynesia', 4167, 3827, 340, 8.159347252219822),
 ('Nicaragua', 130370, 119990, 10380, 7.961954437370561),
 ('Burundi', 27830, 25680, 2150, 7.725476104922745),
 ('Iran', 1648195, 1531595, 116600, 7.074405637682435),
 ('United States', 9826675, 9161966, 664709, 6.764332798225239),
 ('Tanzania', 947300, 885800, 61500, 6.492135543122559),
 ('Vietnam', 331210, 310070, 21140, 6.382657528456266),
 ('Rwanda', 26338, 24668, 1670, 6.3406484926721856),
 ('Estonia', 45228, 42388, 2840, 6.279296011320421),
 ('Norway', 323802, 304282, 19520, 6.028375365192309),
 ('Armenia', 29743, 28203, 1540, 5.177688867968934),
 ('Tunisia', 163610, 155360, 8250, 5.042479066071756),
 ('Uzbekistan', 447400, 425400, 22000, 4.917299955297273),
 ('Indonesia', 1904569, 1811569, 93000, 4.882994525270547),
 ('Suriname', 163820, 156000, 7820, 4.773531925283849),
 ('Albania', 28748, 27398, 1350, 4.695978850702658),
 ('Ghana', 238533, 227533, 11000, 4.611521257016849),
 ('Azerbaijan', 86600, 82629, 3971, 4.585450346420323),
 ('Togo', 56785, 54385, 2400, 4.226468257462359),
 ('Russia', 17098242, 16377742, 720500, 4.2138835091935185),
 ('Kyrgyzstan', 199951, 191801, 8150, 4.075998619661817),
 ('Tonga', 747, 717, 30, 4.016064257028113),
 ('Ukraine', 603550, 579330, 24220, 4.012923535746831),
 ('Lithuania', 65300, 62680, 2620, 4.012251148545176),
 ('West Bank', 5860, 5640, 220, 3.754266211604096),
 ('Gabon', 267667, 257667, 10000, 3.7359853848251747),
 ('Turkmenistan', 488100, 469930, 18170, 3.72259782831387),
 ('Hungary', 93028, 89608, 3420, 3.6763125080620886),
 ('Latvia', 64589, 62249, 2340, 3.6229079254981498),
 ('Romania', 238391, 229891, 8500, 3.5655708478927477),
 ('Japan', 377915, 364485, 13430, 3.5537091674053687),
 ('Burma', 676578, 653508, 23070, 3.4098064081303265),
 ('Congo, Democratic Republic of the', 2344858, 2267048, 77810, 3.3183246064367227),
 ('Venezuela', 912050, 882050, 30000, 3.2892933501452775),
 ('Pakistan', 796095, 770875, 25220, 3.167963622431996),
 ('Hong Kong', 1108, 1073, 35, 3.15884476534296),
 ('Solomon Islands', 28896, 27986, 910, 3.14922480620155),
 ('Switzerland', 41277, 39997, 1280, 3.1010005572110377),
 ('Moldova', 33851, 32891, 960, 2.8359575788012172),
 ('China', 9596960, 9326410, 270550, 2.819121888598056),
 ('Korea, South', 99720, 96920, 2800, 2.807862013638187),
 ('Poland', 312685, 304255, 8430, 2.696003965652334),
 ('Iceland', 103000, 100250, 2750, 2.669902912621359),
 ('Montenegro', 13812, 13452, 360, 2.6064291920069502),
 ('Nepal', 147181, 143351, 3830, 2.6022380606192375),
 ('Botswana', 581730, 566730, 15000, 2.5785158063018927),
 ('Laos', 236800, 230800, 6000, 2.5337837837837838),
 ('Cambodia', 181035, 176515, 4520, 2.4967547711768443),
 ('Italy', 301340, 294140, 7200, 2.38932766974182),
 ('Ecuador', 283561, 276841, 6720, 2.369860453306343),
 ('Germany', 357022, 348672, 8350, 2.3387914470256734),
 ('Paraguay', 406752, 397302, 9450, 2.3232829832428603),
 ('Belarus', 207600, 202900, 4700, 2.2639691714836223),
 ('Papua New Guinea', 462840, 452860, 9980, 2.1562527007173102),
 ('Bulgaria', 110879, 108489, 2390, 2.1555028454441327),
 ('Senegal', 196722, 192530, 4192, 2.1309258750927706),
 ('Israel', 20770, 20330, 440, 2.118440057775638),
 ('Czech Republic', 78867, 77247, 1620, 2.0540910647038686),
 ('Ireland', 70273, 68883, 1390, 1.978000085381299),
 ('Kenya', 580367, 569140, 11227, 1.9344656053841793),
 ('Slovakia', 49035, 48105, 930, 1.8966044661976138),
 ('Brazil', 8515770, 8358140, 157630, 1.8510363713439888),
 ('Tajikistan', 144100, 141510, 2590, 1.7973629424011102),
 ('Turkey', 783562, 769632, 13930, 1.7777789121983967),
 ('Benin', 112622, 110622, 2000, 1.7758519649801994),
 ('Austria', 83871, 82445, 1426, 1.7002301152961097),
 ('Lebanon', 10400, 10230, 170, 1.6346153846153848),
 ('Mozambique', 799380, 786380, 13000, 1.6262603517726237),
 ('Chile', 756102, 743812, 12290, 1.6254420699852663),
 ('Saint Lucia', 616, 606, 10, 1.6233766233766231),
 ('Somalia', 637657, 627337, 10320, 1.6184249525999086),
 ('New Caledonia', 18575, 18275, 300, 1.6150740242261103),
 ('Mali', 1240192, 1220190, 20002, 1.6128147899680048),
 ('Guatemala', 108889, 107159, 1730, 1.5887738890062355),
 ('Argentina', 2780400, 2736690, 43710, 1.5720759602934828),
 ('Denmark', 43094, 42434, 660, 1.531535712628208),
 ('El Salvador', 21041, 20721, 320, 1.520840264245996),
 ('Sri Lanka', 65610, 64630, 980, 1.4936747447035512),
 ('Jamaica', 10991, 10831, 160, 1.4557365116913838),
 ('Singapore', 697, 687, 10, 1.4347202295552368),
 ('Panama', 75420, 74340, 1080, 1.431980906921241),
 ('Nigeria', 923768, 910768, 13000, 1.4072797498939127),
 ('Bolivia', 1098581, 1083301, 15280, 1.390885150935616),
 ("Cote d'Ivoire", 322463, 318003, 4460, 1.3831044181813108),
 ('Spain', 505370, 498980, 6390, 1.2644201278271365),
 ('Zambia', 752618, 743398, 9220, 1.225057067463175),
 ('Croatia', 56594, 55974, 620, 1.095522493550553),
 ('Macedonia', 25713, 25433, 280, 1.0889433360556917),
 ('Mexico', 1964375, 1943945, 20430, 1.0400254533884823),
 ('Zimbabwe', 390757, 386847, 3910, 1.0006218698577378),
 ('Greece', 131957, 130647, 1310, 0.9927476374879696),
 ('Cuba', 110860, 109820, 1040, 0.938120151542486),
 ('Madagascar', 587041, 581540, 5501, 0.9370725383746621),
 ('Kazakhstan', 2724900, 2699700, 25200, 0.9248045799845866),
 ('Swaziland', 17364, 17204, 160, 0.9214466712739001),
 ('Syria', 185180, 183630, 1550, 0.8370234366562264),
 ('Belgium', 30528, 30278, 250, 0.8189203354297694),
 ('Australia', 7741220, 7682300, 58920, 0.7611203402047739),
 ('Dominican Republic', 48670, 48320, 350, 0.7191288267926854),
 ('Belize', 22966, 22806, 160, 0.6966820517286423),
 ('United Kingdom', 243610, 241930, 1680, 0.6896268626082673),
 ('Haiti', 27750, 27560, 190, 0.6846846846846847),
 ('Uruguay', 176215, 175015, 1200, 0.68098629515081),
 ('Mongolia', 1564116, 1553556, 10560, 0.6751417414053689),
 ('Portugal', 92090, 91470, 620, 0.6732544250190032),
 ('Philippines', 300000, 298170, 1830, 0.61),
 ('Jordan', 89342, 88802, 540, 0.6044189742786148),
 ('Slovenia', 20273, 20151, 122, 0.6017856262023381),
 ('Egypt', 1001450, 995450, 6000, 0.5991312596734735),
 ('Cameroon', 475440, 472710, 2730, 0.5742049469964664),
 ('France', 643801, 640427, 3374, 0.5240749859040293),
 ('Mauritius', 2040, 2030, 10, 0.49019607843137253),
 ('Thailand', 513120, 510890, 2230, 0.43459619582164016),
 ('Peru', 1285216, 1279996, 5220, 0.40615740856011756),
 ('South Africa', 1219090, 1214470, 4620, 0.37897119982938093),
 ('Malaysia', 329847, 328657, 1190, 0.3607733282400628),
 ('Samoa', 2831, 2821, 10, 0.35323207347227126),
 ('Iraq', 438317, 437367, 950, 0.2167381141958902),
 ('Honduras', 112090, 111890, 200, 0.1784280488892854),
 ('Sierra Leone', 71740, 71620, 120, 0.16727069974909395),
 ('Congo, Republic of the', 342000, 341500, 500, 0.14619883040935672),
 ('Burkina Faso', 274200, 273800, 400, 0.14587892049598833),
 ('Namibia', 824292, 823290, 1002, 0.12155886506238081),
 ('Cyprus', 9251, 9241, 10, 0.10809642200843152),
 ('Korea, North', 120538, 120408, 130, 0.10784980669996183),
 ('Djibouti', 23200, 23180, 20, 0.08620689655172414),
 ('Costa Rica', 51100, 51060, 40, 0.07827788649706457),
 ('Guinea', 245857, 245717, 140, 0.05694367050765282),
 ('Morocco', 446550, 446300, 250, 0.055984772141977376),
 ('Bosnia and Herzegovina', 51197, 51187, 10, 0.01953239447623884),
 ('Afghanistan', 652230, 652230, 0, 0.0),
 ('Algeria', 2381741, 2381741, 0, 0.0),
 ('Andorra', 468, 468, 0, 0.0),
 ('Angola', 1246700, 1246700, 0, 0.0),
 ('Antigua and Barbuda', 442, 442, 0, 0.0),
 ('Bahrain', 760, 760, 0, 0.0),
 ('Barbados', 430, 430, 0, 0.0),
 ('Bhutan', 38394, 38394, 0, 0.0),
 ('Cabo Verde', 4033, 4033, 0, 0.0),
 ('Central African Republic', 622984, 622984, 0, 0.0),
 ('Comoros', 2235, 2235, 0, 0.0),
 ('Dominica', 751, 751, 0, 0.0),
 ('Equatorial Guinea', 28051, 28051, 0, 0.0),
 ('Fiji', 18274, 18274, 0, 0.0),
 ('Georgia', 69700, 69700, 0, 0.0),
 ('Grenada', 344, 344, 0, 0.0),
 ('Kiribati', 811, 811, 0, 0.0),
 ('Kosovo', 10887, 10887, 0, 0.0),
 ('Kuwait', 17818, 17818, 0, 0.0),
 ('Lesotho', 30355, 30355, 0, 0.0),
 ('Libya', 1759540, 1759540, 0, 0.0),
 ('Liechtenstein', 160, 160, 0, 0.0),
 ('Luxembourg', 2586, 2586, 0, 0.0),
 ('Maldives', 298, 298, 0, 0.0),
 ('Malta', 316, 316, 0, 0.0),
 ('Marshall Islands', 181, 181, 0, 0.0),
 ('Mauritania', 1030700, 1030700, 0, 0.0),
 ('Micronesia, Federated States of', 702, 702, 0, 0.0),
 ('Monaco', 2, 2, 0, 0.0),
 ('Nauru', 21, 21, 0, 0.0),
 ('Oman', 309500, 309500, 0, 0.0),
 ('Palau', 459, 459, 0, 0.0),
 ('Qatar', 11586, 11586, 0, 0.0),
 ('Saint Kitts and Nevis', 261, 261, 0, 0.0),
 ('Saint Vincent and the Grenadines', 389, 389, 0, 0.0),
 ('San Marino', 61, 61, 0, 0.0),
 ('Sao Tome and Principe', 964, 964, 0, 0.0),
 ('Saudi Arabia', 2149690, 2149690, 0, 0.0),
 ('Serbia', 77474, 77474, 0, 0.0),
 ('Seychelles', 455, 455, 0, 0.0),
 ('Timor-Leste', 14874, 14874, 0, 0.0),
 ('Trinidad and Tobago', 5128, 5128, 0, 0.0),
 ('Tuvalu', 26, 26, 0, 0.0),
 ('United Arab Emirates', 83600, 83600, 0, 0.0),
 ('Vanuatu', 12189, 12189, 0, 0.0),
 ('Yemen', 527968, 527968, 0, 0.0),
 ('Ashmore and Cartier Islands', 5, 5, 0, 0.0),
 ('Christmas Island', 135, 135, 0, 0.0),
 ('Cocos (Keeling) Islands', 14, 14, 0, 0.0),
 ('Coral Sea Islands', 3, 3, 0, 0.0),
 ('Heard Island and McDonald Islands', 412, 412, 0, 0.0),
 ('Norfolk Island', 36, 36, 0, 0.0),
 ('Macau', 28, 28, 0, 0.0),
 ('Faroe Islands', 1393, 1393, 0, 0.0),
 ('Clipperton Island', 6, 6, 0, 0.0),
 ('Saint Pierre and Miquelon', 242, 242, 0, 0.0),
 ('Wallis and Futuna', 142, 142, 0, 0.0),
 ('Aruba', 180, 180, 0, 0.0),
 ('Curacao', 444, 444, 0, 0.0),
 ('Sint Maarten', 34, 34, 0, 0.0),
 ('Cook Islands', 236, 236, 0, 0.0),
 ('Niue', 260, 260, 0, 0.0),
 ('Tokelau', 12, 12, 0, 0.0),
 ('Bouvet Island', 49, 49, 0, 0.0),
 ('Jan Mayen', 377, 377, 0, 0.0),
 ('Svalbard', 62045, 62045, 0, 0.0),
 ('Anguilla', 91, 91, 0, 0.0),
 ('Bermuda', 54, 54, 0, 0.0),
 ('British Virgin Islands', 151, 151, 0, 0.0),
 ('Cayman Islands', 264, 264, 0, 0.0),
 ('Falkland Islands (Islas Malvinas)', 12173, 12173, 0, 0.0),
 ('Gibraltar', 6, 6, 0, 0.0),
 ('Guernsey', 78, 78, 0, 0.0),
 ('Jersey', 116, 116, 0, 0.0),
 ('Isle of Man', 572, 572, 0, 0.0),
 ('Montserrat', 102, 102, 0, 0.0),
 ('Pitcairn Islands', 47, 47, 0, 0.0),
 ('Saint Helena, Ascension, and Tristan da Cunha', 308, 122, 0, 0.0),
 ('South Georgia and South Sandwich Islands', 3903, 3903, 0, 0.0),
 ('Turks and Caicos Islands', 948, 948, 0, 0.0),
 ('American Samoa', 199, 199, 0, 0.0),
 ('Guam', 544, 544, 0, 0.0),
 ('Navassa Island', 5, 5, 0, 0.0),
 ('Northern Mariana Islands', 464, 464, 0, 0.0),
 ('Wake Island', 6, 6, 0, 0.0),
 ('Gaza Strip', 360, 360, 0, 0.0),
 ('Paracel Islands', 7, 7, 0, 0.0),
 ('Spratly Islands', 5, 5, 0, 0.0),
 ('Western Sahara', 266000, 266000, 0, 0.0),
 ('Chad', None, 1259200, 24800, None),
 ('New Zealand', 267710, 267710, None, None),
 ('Niger', None, 1266700, 300, None),
 ('South Sudan', 644329, None, None, None),
 ('Sudan', 1861484, None, None, None),
 ('Holy See (Vatican City)', 0, 0, 0, None),
 ('European Union', 4324782, None, None, None),
 ('Greenland', 2166086, 2166086, None, None),
 ('French Southern and Antarctic Lands', None, None, None, None),
 ('Saint Barthelemy', None, None, None, None),
 ('Saint Martin', 54, 54, None, None),
 ('Akrotiri', 123, None, None, None),
 ('Dhekelia', 130, None, None, None),
 ('United States Pacific Island Wildlife Refuges', None, None, None, None),
 ('Antarctica', None, 280000, None, None),
 ('Arctic Ocean', None, None, None, None),
 ('Atlantic Ocean', None, None, None, None),
 ('Indian Ocean', None, None, None, None),
 ('Pacific Ocean', None, None, None, None),
 ('Southern Ocean', None, None, None, None),
 ('World', None, None, None, None)]

In [16]:
%%sql
--Fastest Growing Countries

SELECT name, population, 
        population_growth 
FROM facts
ORDER BY population_growth DESC
LIMIT 10;

Done.

[('South Sudan', 12042910, 4.02),
 ('Malawi', 17964697, 3.32),
 ('Burundi', 10742276, 3.28),
 ('Niger', 18045729, 3.25),
 ('Uganda', 37101745, 3.24),
 ('Qatar', 2194817, 3.07),
 ('Burkina Faso', 18931686, 3.03),
 ('Mali', 16955536, 2.98),
 ('Cook Islands', 9838, 2.95),
 ('Iraq', 37056169, 2.93)]

In [30]:
%%sql
--Countries adding the most people next year, 2016

SELECT name, population, 
        CAST(population_growth * population as Float)/100 as population_added 
FROM facts
WHERE name != 'World'
ORDER BY population_added DESC
LIMIT 14;

Done.

[('India', 1251695584, 15270686.1248),
 ('China', 1367485388, 6153684.246),
 ('Nigeria', 181562056, 4448270.372),
 ('Pakistan', 199085847, 2906653.3662),
 ('Ethiopia', 99465819, 2874562.1691),
 ('Bangladesh', 168957745, 2703323.92),
 ('United States', 321368864, 2506677.1392),
 ('Indonesia', 255993674, 2355141.8008000003),
 ('Congo, Democratic Republic of the', 79375136, 1944690.8320000002),
 ('Philippines', 100998376, 1626073.8536),
 ('Egypt', 88487396, 1583924.3884),
 ('Brazil', 204259812, 1572800.5524000002),
 ('Mexico', 121736809, 1436494.3462),
 ('Tanzania', 51045882, 1424180.1078)]

In [19]:
%%sql
--Countries that have higher death rate than birth rate

SELECT name, birth_rate, death_rate
FROM facts
WHERE death_rate > birth_rate
ORDER BY death_rate DESC;

Done.

[('Ukraine', 10.72, 14.46),
 ('Bulgaria', 8.92, 14.44),
 ('Latvia', 10.0, 14.31),
 ('Lithuania', 10.1, 14.27),
 ('Russia', 11.6, 13.69),
 ('Serbia', 9.08, 13.66),
 ('Belarus', 10.7, 13.36),
 ('Hungary', 9.16, 12.73),
 ('Moldova', 12.0, 12.59),
 ('Estonia', 10.51, 12.4),
 ('Croatia', 9.45, 12.18),
 ('Romania', 9.14, 11.9),
 ('Germany', 8.47, 11.42),
 ('Slovenia', 8.42, 11.37),
 ('Greece', 8.66, 11.09),
 ('Portugal', 9.27, 11.02),
 ('Czech Republic', 9.63, 10.34),
 ('Italy', 8.74, 10.19),
 ('Poland', 9.74, 10.19),
 ('Bosnia and Herzegovina', 8.87, 9.75),
 ('Saint Pierre and Miquelon', 7.42, 9.72),
 ('Japan', 7.93, 9.51),
 ('Austria', 9.41, 9.42),
 ('Monaco', 6.65, 9.24)]

In [22]:
%%sql
--Countries that have higher birth rate than death rate

SELECT name, birth_rate, death_rate
FROM facts
WHERE death_rate < birth_rate
ORDER BY death_rate DESC
LIMIT 15;

Done.

[('Lesotho', 25.47, 14.89),
 ('Guinea-Bissau', 33.38, 14.33),
 ('Chad', 36.6, 14.28),
 ('Namibia', 19.8, 13.91),
 ('Afghanistan', 38.57, 13.89),
 ('Central African Republic', 35.08, 13.8),
 ('Somalia', 40.45, 13.62),
 ('Swaziland', 24.67, 13.56),
 ('Botswana', 20.96, 13.39),
 ('Gabon', 34.49, 13.12),
 ('Nigeria', 37.64, 12.9),
 ('Mali', 44.99, 12.89),
 ('Zambia', 42.13, 12.67),
 ('Niger', 45.45, 12.42),
 ('Mozambique', 38.58, 12.1)]

In [31]:
%%sql
--Most densly populated countries

SELECT name, population, area, 
        CAST(population as float)/area *100 as population_density
FROM facts
ORDER BY population_density DESC
LIMIT 13;

Done.

[('Macau', 592731, 28, 2116896.4285714286),
 ('Monaco', 30535, 2, 1526750.0),
 ('Singapore', 5674472, 697, 814127.9770444763),
 ('Hong Kong', 7141106, 1108, 644504.1516245487),
 ('Gaza Strip', 1869055, 360, 519181.94444444444),
 ('Gibraltar', 29258, 6, 487633.3333333333),
 ('Bahrain', 1346613, 760, 177185.92105263157),
 ('Maldives', 393253, 298, 131964.09395973154),
 ('Malta', 413965, 316, 131001.58227848102),
 ('Bermuda', 70196, 54, 129992.59259259258),
 ('Sint Maarten', 39689, 34, 116732.35294117646),
 ('Bangladesh', 168957745, 148460, 113806.91432035565),
 ('Guernsey', 66080, 78, 84717.94871794872)]